[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
uvicorn = "*"
alembic = "*"
psycopg2-binary = "2.9.6"
python-dotenv = "*"
passlib = "*"
pyjwt = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
